{% extends 'base.html' %}



{% block navbar %}
  <!-- Contenido personalizado del navbar para este archivo HTML -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img class = "logo-img" src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo RentCars">
        RentCars
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home">Inicio</a>
          </li>
          <li class="nav-item">
            {% if is_admin %}
              <a class="nav-link" href="/add/vehiculo">Add vehicle</a>
            {% else %}
              <a class="nav-link" href="/">Salir</a>
            {% endif %}  
          </li>
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}

{% block content %}
  <!-- Hero Section -->
  <header class="hero bg-primary text-white text-center py-5">
    <div class="container">
      <h1 class="display-4">Alquila el auto perfecto</h1>
      <p class="lead">Descubre nuestra amplia selección de autos para alquilar</p>
    </div>
  </header>

  <!-- Car Listing Section -->
 
  <section class="car-listing py-5">
    <div class="container">
      <div class="row">
        {% for vehicle in vehicles %}
        <div class="col-lg-4 mb-4">
          <div class="card">
            <img src="{{ url_for('static', filename=vehicle[4]) }}" alt="Imagen generada" style="width: 416px; height: 217px;">
            <div class="card-body">
              <h5 class="card-title">{{ vehicle[0] }}</h5>
              <p class="card-text">{{ vehicle[2] }}</p>
              <form action="/itemcar" method="post" class="d-inline">
                <!-- Hidden input fields for vehicle context -->
                <input type="hidden" name="vehicle" value="{{vehicle}}">
                <button type="submit" class="btn btn-primary btn-block px-20">Reservar</button>
              </form>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  
        
{% endblock %}