{% extends 'base.html' %}
{% block style %}
<style>
.custom-card {
    width: 1600px;
    position: relative;
  }

  .custom-card::before {
    content: "";
    background-color: rgba(118, 208, 216, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Adjust the height as needed */
  }

  .btn-lg {
    font-size: 25px;
    padding: 30px 50px;
    background-color: rgb(0, 0, 37);
    color: white;
    border-radius: 30px;
  }

</style>
{% endblock %}

{% block content %}
<div class="container-center">
  <div class="card mb-3 custom-card" style="margin: 1cm; background: #76d0d8;">
    <div class="row g-0">
      <div class="col-lg-4">
        <img src="{{ url_for('static', filename='img/car2.jpg') }}" alt="Item Image" class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
      </div>
      <div class="col-lg-8">
        <div class="card-body py-5 px-md-5">
          <div class="row">
            <div class="col-md-6">
              <div class="item-info">

                <h2>{{ vehicle[0] }}</h2>
                <p>{{ vehicle[2] }}</p>
                <p>{{ vehicle[1] }}</p>
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-center">
              <button class="btn-lg">Reservar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}


