<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/home">
        <img class = "logo-img" src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo RentCars">
        RentCars
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home">Inicio</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>