<!DOCTYPE html>
<html>
<head>
    <title>Mostrar Datos</title>
</head>
<body>
    <h1>Datos de los vehículos:</h1>
    <table>
        <tr>
            <th>Modelo</th>
            <th>Placa</th>
            <th>Características</th>
            <th>Disponibilidad</th>
            <th>Imagen</th>
        </tr>
        {% for row in results %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td><img src="{{ url_for('static', filename=row[4]) }}"></td>
       
        </tr>
        {% endfor %}
    </table>
</body>
</html>